# LLM Keys
GROQ_API_KEY=your_groq_key
GEMINI_API_KEY=your_gemini_key

# LangSmith (Observability)
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY=your_langsmith_api_key_here
LANGSMITH_PROJECT="trauma-ai-dev"

# Optional
LANGCHAIN_TRACING_V2=true

# Database
MONGO_URI=your_mongodb_uri
REDIS_URL=your_upstash_redis_url

# Google Maps
GOOGLE_MAPS_API_KEY=your_maps_key

# Brevo
BREVO_API_KEY=your_brevo_key

# Others
ENV=development

