fastapi
uvicorn

brevo-python

python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
cryptography
python-multipart
pytz

langgraph
langchain
langchain-community
langchain-groq
langchain-google-genai
langchain-huggingface
sentence-transformers
langsmith

litellm

chromadb

pypdf

motor
redis

pydantic
pydantic[email]
pydantic-settings
email-validator

pytest
pytest-asyncio

googlemaps
geopy

httpx


# utilities
typing-extensions