fastapi
uvicorn

brevo-python

python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
cryptography
python-multipart
pytz

langgraph
langchain
langchain-community
langchain-groq
langchain-google-genai
langsmith==0.1.147

litellm

chromadb

pypdf

motor
redis

pydantic
pydantic[email]
pydantic-settings
email-validator

pytest
pytest-asyncio

googlemaps

httpx


# utilities
typing-extensions